extends layout

block body
  h1 clock yrself

  #about-me(ng-controller="AboutCtrl")
    span i work as a(n) 
    input(type="text", placeholder="occupation", ng-model="occupation")
    span  in
    input(type="text", placeholder="location", ng-model="location")

  #pre-clock(ng-controller="ClockCtrl")
    | i have had this page open for {{clockTime()}}

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
