extends layout

block body
  .logo clock yourself

  .container(ng-controller="MainCtrl")
    #about-me.slide(ng-controller="AboutCtrl", ng-if="!timerStarted()")
      form(name="aboutMeForm", novalidate)
        #occupation
          span.label-text.intro i work as {{user.occupation | indefArticle}}
          span.label-text.second
          input(type="text", placeholder="occupation", ng-model="user.occupation", required)
          span.label-text.connector  in
          input(type="text", placeholder="location", ng-model="user.location", required)
        #compensation
          span.label-text.intro i earn 
          span.label-text.second $
          input(type="number", step="0.01", min="0.01", placeholder="salary", ng-model="user.salary", required)
          span.label-text.connector  per 
          select(ng-options="s for s in salaryTypes", ng-model="user.salaryType", required)
        #about-submit
          button#clock-button(ng-disabled="!saveable()", ng-click="submit()") go on the clock

    #my-status(ng-controller="ClockCtrl")
      .container
        #my-info
          #my-time.row
            .span2 on the clock for: 
            .span4
              .spacer
              td-blocky-text(text="clockTime()", divider=":")
              .expl.info-icon(ng-if="timerStarted()")
                i.fa.fa-fw.fa-info-circle(popover-title="{{exTitle(user)}}", popover="Salary: {{exSalary(user)}}", popover-trigger="mouseenter", popover-placement="bottom")
          #earnings.row.slide(ng-if="timerStarted()")
            .span2 earned:
            .span4
              .spacer $
              td-blocky-text(text="earnedAmt(user)", divider=".")

        #controls.slide(ng-if="timerStarted()")
          .clock-controls.row(ng-switch on="timerPaused()")
            .span3
              button.small.inv.cycle(ng-switch-when="true", ng-click="resumeTimer()")
                i.fa.fa-fw.fa-play
                span resume
              button.small.inv(ng-switch-when="false", ng-click="pauseTimer()")
                i.fa.fa-fw.fa-pause
                span pause
          .clock-controls.row
            .span3
              button.small.inv.slide(ng-if="timerPaused()", ng-click="resetTimer()")
                i.fa.fa-fw.fa-undo
                span reset

    | working continuously during this time...

    #info-comparison(ng-controller="CmpInfoCtrl")
      .row
        .span4(ng-repeat="ex in cmpExamples")
          .cmp-panel.clearfix
            .cmp-descr {{ex.occupation | indefArticlize}} in {{ex.location}} might earn:
            .cmp-comp
              | $
              td-blocky-text(text="earnedAmt(ex)", divider=".")
              .info-icon.pull-right(ng-if="timerStarted()")
                i.fa.fa-fw.fa-info-circle(popover-title="{{exTitle(ex)}}", popover="Salary: {{exSalary(ex)}}", popover-trigger="mouseenter")

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
