extends layout

block body
  .logo clock yourself

  .container(ng-controller="MainCtrl")
    #about-me.slide(ng-controller="AboutCtrl", ng-if="!timerStarted()")
      form(name="aboutMeForm", novalidate)
        #occupation
          span.label-text.intro i work as {{occupation | indefArticle}}
          span.label-text.second
          input(type="text", placeholder="occupation", ng-model="user.occupation", required)
          span.label-text.connector  in
          input(type="text", placeholder="location", ng-model="user.location", required)
        #compensation
          span.label-text.intro i earn 
          span.label-text.second $
          input(type="number", step="0.01", min="0.01", placeholder="salary", ng-model="user.salary", required)
          span.label-text.connector  per 
          select(ng-options="s for s in salaryTypes", ng-model="user.salaryType", required)
        #about-submit
          button#clock-button(ng-disabled="!saveable()", ng-click="submit()") go on the clock

    #my-status(ng-controller="ClockCtrl")
      .container
        .row
          .span2 on the clock for: 
          .span3
            td-blocky-text(text="clockTime()", divider=":")
          .span3.slide(ng-if="timerStarted()")
            #pause-resume(ng-switch on="timerPaused()")
              button.small.cycle(ng-switch-when="true", ng-click="resumeTimer()")
                i.fa.fa-fw.fa-play
              button.small(ng-switch-when="false", ng-click="pauseTimer()")
                i.fa.fa-fw.fa-pause
        .row#earnings.slide(ng-if="timerStarted()")
          .span2
            | earned:
            .pull-right $
          .span3
            td-blocky-text(text="earnedAmt(user)", divider=".")

    | working continuously during this time...

    #info-comparison(ng-controller="CmpInfoCtrl")
      .row
        .span6(ng-repeat="ex in cmpExamples")
          .cmp-panel.clearfix
            .span2.cmp-descr {{ex.occupation | indefArticlize}} in {{ex.location}} might earn:
            .span3.cmp-comp
              | $
              td-blocky-text(text="earnedAmt(ex)", divider=".")

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
