extends layout

block body
  .container
    h1.main clock yrself

    #about-me(ng-controller="AboutCtrl")
      span i work as {{occupationArticle()}}
      input(type="text", placeholder="occupation", ng-model="occupation")
      span  in
      input(type="text", placeholder="location", ng-model="location")

    #pre-clock(ng-controller="ClockCtrl")
      | i have had this page open for {{clockTime()}}

    | during this time...

    #info-comparison(ng-controller="CmpInfoCtrl")
      | {{occupationStr()}} in {{location}} might earn {{earnedAmt()}}

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
