extends layout

block body
  .logo clock yourself

  .container(ng-controller="MainCtrl")
    #clock.slide(ng-controller="ClockCtrl", ng-if="timerStarted()")
      | on the clock for: {{clockTime()}}

    #about-me.slide(ng-controller="AboutCtrl", ng-if="!timerStarted()")
      form(name="aboutMeForm", novalidate)
        #occupation
          span.label-text.intro i work as {{occupation | indefArticle}}
          span.label-text.second
          input(type="text", placeholder="occupation", ng-model="occupation", required)
          span.label-text.connector  in
          input(type="text", placeholder="location", ng-model="location", required)
        #compensation
          span.label-text.intro i earn 
          span.label-text.second $
          input(type="number", step="0.01", min="0.01", placeholder="salary", ng-model="salary", required)
          span.label-text.connector  per 
          select(ng-options="s for s in salaryTypes", ng-model="salaryType", required)
        #about-submit
          button#clock-button(ng-disabled="!saveable()", ng-click="submit()") go on the clock

    #pre-clock.slide(ng-controller="ClockCtrl", ng-if="!timerStarted()")
      | the clock has been running for {{clockTime()}}

    | working continuously during this time...

    #info-comparison(ng-controller="CmpInfoCtrl")
      .cmp-panel(ng-repeat="ex in cmpExamples")
        | {{ex.occupation | indefArticlize}} in {{ex.location}} might earn {{earnedAmt(ex)}}

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
