extends layout

block body
  .container
    h1.main clock yourself

  .container
    #about-me(ng-controller="AboutCtrl")
      form(name="aboutMeForm", novalidate)
        #occupation
          span.label-text.intro i work as {{occupation | indefArticle}}
          span.label-text.second
          input(type="text", placeholder="occupation", ng-model="occupation", required)
          span.label-text.connector  in
          input(type="text", placeholder="location", ng-model="location", required)
        #compensation
          span.label-text.intro i earn 
          span.label-text.second $
          input(type="number", step="0.01", min="0.01", placeholder="0.01", ng-model="salary", required)
          span.label-text.connector  per 
          select(ng-options="s for s in salaryTypes", ng-model="salaryType", required)
        #about-submit
          button#clock-button(ng-disabled="!saveable()") go on the clock

    #pre-clock(ng-controller="ClockCtrl")
      | i have had this page open for {{clockTime()}}

    | working continuously during this time...

    #info-comparison(ng-controller="CmpInfoCtrl")
      .cmp-panel(ng-repeat="ex in cmpExamples")
        | {{ex.occupation | indefArticlize}} in {{ex.location}} might earn {{earnedAmt(ex.hourly)}}

  script(src='/js/vendor.js')
  script(src='/js/partials.js')
  script(src='/js/app.js')
