@marginSmall: 1em;

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding-bottom: .3em;
  color: @white;
}

input, select {
  margin-top: @marginSmall;
}

@buttonColor:         @textColor;
@buttonDisabledColor: lighten(@bodyBackground, 20%);

button {
  display:       inline-block;
  border:        2px solid @buttonColor;
  border-radius: @marginSmall;
  padding:       @marginSmall;

  color:            @buttonColor;
  background-color: @bodyBackground;
  font-size:        140%;

  @smallButtonMargin: @marginSmall/4;

  &.small {
    border:        1px solid @buttonColor;
    border-radius: @smallButtonMargin*2;
    padding:       @smallButtonMargin;
    font-size:     100%;
  }

  &:disabled {
    color:        @buttonDisabledColor;
    border-color: @buttonDisabledColor;
    cursor:       default;
  }
}

button.cycle {
  animation:         button-border-cycle 3s infinite, button-color-cycle 3s infinite;
  -webkit-animation: button-border-cycle 3s infinite, button-color-cycle 3s infinite;

  &.ng-animate {
    -webkit-animation: none 0s;
    animation:         none 0s;
  }
}

@keyframes button-border-cycle {
  0%  { border-color: @buttonColor;         }
  50% { border-color: @buttonDisabledColor; }
}

@-webkit-keyframes button-border-cycle {
  0%  { border-color: @buttonColor;         }
  50% { border-color: @buttonDisabledColor; }
}

@keyframes button-color-cycle {
  0%  { color: @buttonColor;         }
  50% { color: @buttonDisabledColor; }
}

@-webkit-keyframes button-color-cycle {
  0%  { color: @buttonColor;         }
  50% { color: @buttonDisabledColor; }
}

.slide {
  overflow:     hidden;
  max-height:   0px;
}

.td-blocky-text-char {
  display:       inline-block;
  width:         1em;
  height:        1.5em;

  margin-left:   1px;
  margin-right:  1px;
  padding:       2px;
  text-align:    center;

  border:        1px solid @textColor;
  border-radius: 3px;

  color:            @bodyBackground;
  background-color: @textColor;

  &.divider {
    width:  0.5em;
    border: 0px;

    color:            @textColor;
    background-color: @bodyBackground;
  }
}

.logo {
  display:  inline-block;
  position: fixed;
  right:    0px;

  padding-top:    @marginSmall;
  padding-bottom: @marginSmall;
  padding-right:  5em;
  text-align:     right;
  font-size:      200%;
}

@media (max-width: @navbarCollapseWidth) {
  .logo {
    display:  block;
    position: static;
  }
}

#my-status {
  margin-top:    @marginSmall;
  margin-bottom: @marginSmall;

  #earnings {
    margin-top: @marginSmall;
  }
}

#about-me {
  border:       1px solid @blueLight;
  border-left:  0px;
  border-right: 0px;

  .label-text {
    display: inline-block;

    &.intro {
      min-width: 6em;
    }

    &.second {
      min-width: 1em;
    }

    &.connector {
      min-width: 2em;
      padding-left: 1em;
    }
  }

  #about-submit {
    margin:             @marginSmall;

    #clock-button {
      -webkit-transition: 0.5s linear all;
      transition:         0.5s linear all;
    }
  }
}

.cmp-panel {
  margin:  @marginSmall / 2 0;
  padding: @marginSmall / 2 0;

  border:        1px solid @textColor;
  border-radius: @marginSmall;

  .cmp-descr {
    min-height: 4.1em;
  }
}
