@marginSmall: 1em;

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding-bottom: .3em;
  color: @white;
}

input, select {
  margin-top: @marginSmall;
}

.logo {
  display:  inline-block;
  position: fixed;
  right:    0px;

  padding-top:    @marginSmall;
  padding-bottom: @marginSmall;
  padding-right:  5em;
  text-align:     right;
  font-size:      200%;
}

@media (max-width: @navbarCollapseWidth) {
  .logo {
    display:  block;
    position: static;
  }
}

.slide {
  overflow:     hidden;
  max-height:   0px;
}

#about-me {
  border:       1px solid @blueLight;
  border-left:  0px;
  border-right: 0px;

  .label-text {
    display:   inline-block;

    &.intro {
      min-width: 6em;
    }

    &.second {
      min-width: 1em;
    }

    &.connector {
      min-width: 2em;
      padding-left: 1em;
    }
  }

  #about-submit {
    margin: @marginSmall;

    @buttonColor:         @textColor;
    @buttonDisabledColor: lighten(@bodyBackground, 20%);

    #clock-button {
      display:       inline-block;
      border:        2px solid @buttonColor;
      border-radius: @marginSmall;
      padding:       @marginSmall;

      color:            @buttonColor;
      background-color: @bodyBackground;
      font-size:        140%;

      -webkit-transition: 0.5s linear all;
      transition:         0.5s linear all;

      &:disabled {
        color:        @buttonDisabledColor;
        border-color: @buttonDisabledColor;
        cursor:       default;
      }
    }
  }
}

#pre-clock {
  margin-top: @marginSmall;
}
